body {
  background-color:white;
}

#articles {
  display: inline-block;
  overflow: auto;
  /*width: 60%;
  height: 700px;*/
}

.block{
  margin:10px;
  border: 2px solid black;
}
.block1{
  margin:10px;
  border: 2px solid black;
}
.save{
  background-color: lightgreen;
  float:right;
}
.heading{
background-color: blue;
padding:20px;
}
.heading1{
background-color: blue;
padding:20px;
}